body {
    margin: 0;
    padding: 0;   
  }

.wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 10fr 1fr ;
    font-family: 'Questrial', sans-serif;
    grid-template-areas:
    "h h"
    "m e"
    "f f"
  }
  
  header {
    grid-area: h;
    width: 100%;
    background-color: #0b0c10;
    border-bottom: 1px solid #66FCF1;
    display: flex;
    letter-spacing: .1em;
  }
  
  header img {
    margin-top: 3%;
  }

  header h1 {
    color: #66FCF1;
    width: 25%;
    text-align: center;
    margin: 2% auto;
  }
  
  .left {
    grid-area: m;
    background-color: #202833;
    border-right: 3px solid #48a39e;
  }
  
  .allChallenges {
    width: 90%;
    margin: 30px auto;
    /* padding: 5px; */
    border: 1.2px solid #157c77;
    background-color: #f9fbff;
  }
  
  .challenge {
    width: 100%;
    height: auto;
    border-bottom: 1.2px solid #157c77;
    color: #48a39e;
    font-weight: 500;
    transition: all .1s;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }

  .challenge p {
      
      padding: 5px;
  }

  .challenge:last-child {
    border-bottom: none;
  }
  
  .challenge:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    font-weight: 600;
    color: #0dd6c8;
  }
  
  .challenge span {
    font-size: 18px;
    align-self: center;
    color: #f6a50f;
  }

  .challenge:hover span {
    color: #ffd110;
    font-size: 19px;
  }
  
.right {
    grid-area: e;
    background-color: #202833; 
  }
  
  footer {
    grid-area: f;
    width: 100%;
    background-color: #0b0c10;
  }
  
  .challengeTextWrap {
    background-color: white;
    width: 90%;
    margin: 30px auto 10px auto;
  }
  
  .challengeTextWrap p {
    font-size: 14px;
    font-family: 'Questrial', sans-serif;
    padding: 10px;
    word-spacing: 1.5px;
    line-height: 1.3em;
    font-weight: 500;
  }
  
  .editorField {
    width: 90%;
    margin: 10px auto;
  }
  
  textarea {
    width: 100%;
    height: 50vh;
    padding: 7px;
  }

  footer p {
    font-size: 16px;
    width: 25%;
    text-align: center;
    margin: 2% auto;
    color: #fff;
  }

  .active {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    font-weight: 600;
    color: #0dd6c8;
  }

  .active span {
    color: #ffd110;
  }
